@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, * {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-container {
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: white;
  position: sticky;
  top: -5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px ;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.logo {
  height: auto;
  width: 250px;
}

.nav-groups {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.nav-groups:first-child {
  justify-content: flex-start;
}

.nav-groups.nl {
  justify-content: center;
}

.nav-groups:last-child {
  justify-content: flex-end;
}

.nav-groups li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}



.mobile-hidden {
  display: none !important;
}

.mobile-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  color: #333; 
  display: none;
}

.mobile-menu {
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 999;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mobile-menu li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.mobile-menu li:hover {
  background-color: #f5f5f5;
}

.mobile-menu li button {
  width: 80%;
  margin: 10px auto;
}

@media (max-width: 1030px) {
  .mobile-menu-btn {
    display: block;
  }
  
  .logo-group {
    flex-grow: 1;
  }
}
@media (max-width: 900px) {
  .navbar-container {
    height: auto;
  }
 

  .nav-groups {
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
  }

  .logo {
    margin-top: 15px;
    width: 180px;
    margin-left: 50px;
  }

  .nav-groups li {
    font-size: 16px;
  }
  .nav-groups {padding: 0;}
}

@media (max-width:1030px) {
  .navbar-container {
    height: auto;
  }
}