.how-it-works {
    height: 82vh;
    width: 100%;
}
.hw-section-head {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hw-section-head h2 {
    font-size: 35px;
    font-weight: 600;
    color: #1f1f1f;
}
.hw-section-head span {
    width: 450px;
    margin-top: 20px;
    text-align: center;
}
.info-cards-container {
    height: calc(82vh - 300px);
    width: 100%;
    display: flex;
}
.info-cards {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-cards button {
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.info-cards p {
    margin-top: 20px;
    text-align: center;
}
.process-head {
    font-weight: 600;
    font-size: 25px;
}
.process-info {
    margin-left: 10px;
    margin-right: 10px;
}
.hw-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:542px) {
    .process-text {
        max-width: 300px;
    }
    .how-it-works  {
        height: 100vh;
    }
    .info-cards-container {
        margin-top: 50px;
    }
    .hw-btn {
        margin-top: 100px;
    }
}
@media (max-width:320px) {
    .how-it-works {
        height: 150vh;
    }
    
    .info-cards-container {
        margin-top: 100px;
    }
    .hw {
        margin-top: 100px;
    }
}