.primary-btn {
    background-color: #0c6bb1;
    width: 170px;
    height: 40px;
    border-radius: 25px;
    border: 0px;
    color: white;
    margin-left: 150px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin-right: 50px;
}
.hw {
    width: 300px;
    margin: 0;
}
.sw {
    width:300px;
    margin-right:50px;
}
.gs {
    width: 400px;
    margin: 0;
    margin-top: 50px;

}
.hr {
    width: 200px;
    margin: 0;
    margin-right: 14px;
}
.secondary-btn {
    height: 48px;
    width: 200px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;   
    cursor: pointer;
}

@media (max-width:1203px) {
    
    .hr {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}
@media (max-width:1192px) {
    .gs {
        width: 250px;
    }
    
   
}
@media (max-width:1000px) {
    .hr {
        margin-top: 50px;
    }
}
@media(max-width:750px) {
    .primary-btn {
        margin-right: 50px;
        min-width: 150px;
    }
    .secondary-btn {
        min-width: 150px;
        max-height: 40px;
        font-size: 10px;
    }
}